/* $Id$ */
@charset "utf-8";
/* CSS Document */
ul,li{
list-style:none;
}
body{
font-family:Open sans-serif;
}
p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px	;
}
.wollborder{
margin-left: 94px;
margin-top: 20px;

}
.wollborder1{
border:1px solid #808080;
border-radius:5px;
margin-top:5px;
margin-left:60px;
padding: 20px 20px 25px 20px;
}
.lefttopimg1{
margin-left:-1px;
margin-top:-1px;
width:10px;
height:10px;
position:relative;
}
/*.lefttopimg{
background:url(../images/lefttopcorner.gif) no-repeat left top;
margin-left:-3px;
margin-top:-3px;
width:10px;
height:10px;
position:relative;
}*/
.topmidimg1{
background:url(../images/topmidimg1.jpg);
background-repeat:repeat-x;
height:10px;
}
.topmidimg{
background:url(../images/topmidimg.gif);
background-repeat:repeat-x;
height:10px;
}
.righttopimg1{
margin-right:-1px;
margin-left:2px;
margin-top:-1px;
width:10px;
height:10px;
position:relative;
}/*
.righttopimg{
background:url(../images/righttopcorner.gif) no-repeat right top;
margin-right:-3px;
margin-left:3px;
margin-top:-3px;
width:10px;
height:10px;
position:relative;
}*/
.leftmidimg{
background:url(../images/leftmidimg.jpg) repeat-y;
width:10px;
}
.leftmidimg1{
background:url(../images/leftmidimg.gif) repeat-y;
width:10px;
}
.fl{
float:left;
}
.rightmidimg{
background:url(../images/rightmidimg1.jpg) repeat-y;
width:10px;
}
.rightmidimg1{
background:url(..images/rightmidimg.gif) repeat-y;
width:10px;
}
.leftbotomimg{
 height:10px; width:10px;
margin-left:-1px;
margin-bottom:-1px;
position:relative;
}
/*.leftbotomcornr{
background:url(../images/botomleftcorner.gif) no-repeat left bottom; height:10px; width:10px;
margin-left:-3px;
margin-bottom:-3px;
position:relative;
}*/
.botommidimg{
background:url(../images/buttommidimg1.jpg) repeat-x;
height:10px;
}
.botommidimg1{
background:url(../images/buttommidimg.gif) repeat-x;
height:10px;
}
.rightbotomimg{
margin-right:-1px;
margin-left:2px;

margin-bottom:-1px;
height:10px;
width:10px;
position:relative;
}
/*.rightbotomcornr{
background:url(../images/bottomrightcorner.gif) no-repeat right bottom;
margin-right:-3px;
margin-left:3px;
margin-bottom:-3px;
height:10px;
width:10px;
position:relative;
}*/
.renewal-active{
	font:14px Open Sans;
	color:#2e2e2e;
	float:left;
	margin-left:10px;
	margin-bottom:-1px;
	position:relative;
	cursor:pointer;
	line-height:22px;
	text-align:center;
}
.renewal-inactive{
	font:14px Open Sans;
	color:#2e2e2e;
	margin-left:10px;
	margin-bottom:-1px;
	position:relative;
	float:left;
	cursor:pointer;
	line-height:22px;
	text-align:center;
}
.calander{
background:url(../images/Online-License-bgimages.gif) -153px -73px; width:16px; height:15px; float:left;
}
.gobutton{
	-webkit-appearance:button;
	margin-top:-1px;
	margin-left: 10px;
}

.sortbydropdown
{	
	display: block;
	cursor: pointer;
	position: relative;
	float: right;
}
.sortbycontent{
	display: none;
	font-size: 16px;
	min-width: 180px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: absolute;
	z-index: 1;
	right: 0px;
    top: 25px	
	
  }
  
.sortbydropdown:hover .sortbycontent{
	display: block;
  }
  
.sortbycontent div {
	display: block;
	padding: 12px 16px;
  }
  .sortbycontent > button{
	  background-color: #3E932F;
	  color:white;
	  border: none;
	  width:100%;
  }
  .sortbydropdown > a{
	text-decoration: none;
  }
  